html {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.successfulTest {
    color: #39AA56;
    background-color: #F1F1F1;
    text-align: left;
}

.failedTest {
    color: #DB4545;
    background-color: #F1F1F1;
    text-align: left;
}

.naTest {
    color: #9D9D9D;
    background-color: #F1F1F1;
    text-align: center;
}

.testDuration {
    font-style: normal;
    color: #666;
}

.suiteName {
    font-weight: bold;
}

.testName {
    background-color: #F1F1F1;
}